#!/bin/bash
#SBATCH --job-name="$name"
#SBATCH --partition=shared
#SBATCH --nodes=1
#SBATCH --ntasks-per-node=$tasks_per_node
#SBATCH -t $hour:$min:00
#SBATCH -A ddp381
#SBATCH --mail-type=ALL
cd $dir
